%table#movies
  %thead
    %tr
      %th= link_to "Movie Title"
      %th{:class => ('hilite' if @sort == 'title')}= link_to "Movie Title", movies_path(:sort=>'title')
      %th= link_to "Rating"
      %th Release Date
      %th More Info